*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #011638;
    overflow-x:hidden;
    
    

}
.menu{
    
    height: 10vh;
    width: 100%;
    background-color: #2E294E;
    display: flex;
    gap: 32px;
    align-items: center;
    
}
#btn{
    cursor: pointer;
    margin-left: 76%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: white;
    background: none;
}
#btn_jogos{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: white;
    background: none;
}

#logo{
    height: 100%;
}
#barra_pesquisa{
    margin-left: 2%;
    outline: 0;
    font-weight:500;
    font-size: 100%;
    border-style: none;
    padding: 8px;
    height: 50%;
    width: 50%;
    border-radius: 10px;
}
.carrossel{
    display: flex;
    border-radius: 10px;
    margin-left: 6%;
    margin-top: 4%;
    height: 35vw;
    width: 87vw;
    background-image: url(../style/Seja\ bem\ vindo\ a\ Big\ Bang\ Store.png);
    background-size: cover;
}
.carrosel img{
    
    height: 100%;
    width: 100%;
}
.visible{
    display:none;

}
.rodape{
    margin-top: 6%;
    background-color: #2E294E;
    height: 4vw;
    width: 100vw;
    display: flex;
    align-items: center;
    
}
.rodape a{
    margin-left: 6%;
}
.rodape button{
    cursor: pointer;
    
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color:white;
    background-color:#2E294E;
}   
#btn1{
    cursor: pointer;
    margin-left: 74%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: white;
    background: none;
}
#adquiridos{
    cursor: pointer;
    margin-left: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: white;
    background: none;
}
#list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8%;
}
.product{
    height: 30vw;
    width: 24vw;
    margin-top: 8%;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    
    background-color: rgb(226, 226, 226);
    flex-direction: column;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.product h1{
    text-align: center;
    margin-top: 4%;
    font-size: 200%;
    height: 4%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.product-image{
    border-radius: 5px;
    height: 12vw;
    width: 100%;
}
.product-image img{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px;
    height: 100%;
    width: 100%;
}
.product:hover{
    margin-top: 6%;
    margin-bottom: 4%;
    cursor: pointer;
    height: 32vw;
    width: 25vw;
    transition: 1s;
    box-shadow: #000000 0px 0px 20px;
}
#compre{
    height: 4vw;
    width: 90%;
    margin-top: 38%;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    background-color: #746ab9;
    box-shadow: #d3bcff 0px 0px 4px;
    font-size: 100%;
    font-weight: 600;
    transition: 0.5s;
}
#compre:hover{
    transition: 1s;
    background-color: #49417f;
}




