*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #011638;
    
    

}
.menu{
    
    height: 10vh;
    width: 100%;
    background-color: #2E294E;
    display: flex;
    gap: 32px;
    align-items: center;
    
}
#btn{
    cursor: pointer;
    margin-left: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: white;
    background: none;
}
#btn_jogos{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: white;
    background: none;
}
#btn_ofertas{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: white;
    background: none;
}
#logo{
    height: 100%;
}
#barra_pesquisa{
    margin-left: 2%;
    outline: 0;
    font-weight:500;
    font-size: 100%;
    border-style: none;
    padding: 8px;
    height: 50%;
    width: 50%;
    border-radius: 10px;
}
.carrossel{
    display: flex;
    border-radius: 10px;
    margin-left: 16%;
    margin-top: 4%;
    height: 52vh;
    width: 65vw;
    background-image: url(../style/Seja\ bem\ vindo\ a\ Big\ Bang\ Store.png);
    background-size: cover;
}
.carrosel img{
    
    height: 100%;
    width: 100%;
}
.visible{
    display:none;

}   
#btn1{
    width: 12%;
    margin-left: -2%;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: white;
    background: none;
}
#adquiridos{
    cursor: pointer;
    margin-left: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: white;
    background: none;
}
