*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
body{
    background-color: #011638;
    display: flex;
    
    justify-content: center;
    
}
.formulario{
    margin-top: 8%;
    display: flex;
    background-color: #2E294E;
    border-radius: 20px;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width: 50vw;
    height: 70vh;
}
.input-list{
    display: flex;
    height: 70vh;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:16px;
}
.input-list input{
    outline: none;
    border-radius: 5px;
    padding: 1%;
    height: 6%;
    width: 90%;
    font-size: 100%;
}
#enviar{
    color: rgb(21, 10, 35) ;
}
#enviar:hover{
    background-color: rgb(242, 242, 242);
    box-shadow: rgb(21, 10, 35) 1px 0px 8px ;
}