*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #011638;
    display: flex;
    justify-content: center;
    
}
.crud{
    display: flex;
    margin-top: 18%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 24vh;
    width: 24vw;
    
}
.button-list{
    width: 100%;
    display: flex;
    gap:10px;
    flex-direction: column;
}
.button-list button{
    cursor:pointer;
    font-size: xx-large;
    font-weight: 900;
    color: white;
    border-radius: 5px;
    background-color: #2E294E;
    gap: 400px;
    height: 96px;
    width: 100%;
}
.button-list button:hover{
    background-color: #231f3e;
}